html,body{
    height: 100%; /*Needed to make the background color cover full browser height*/
}

body{
    background: rgb(0, 38, 80); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(0, 38, 80), rgb(58, 87, 166)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(0, 38, 80), rgb(58, 87, 166)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(0, 38, 80), rgb(58, 87, 166)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(0, 38, 80), rgb(58, 87, 166)); /* Standard syntax */
}

img, input {
    margin: auto;
    display: block;
}

#main {
    font-family: Avenir, Arial, sans-serif;
    font-size: 14px;
    padding-top: 30px;
    color: rgb(255, 255, 255);
}

#searchField {
    width: 100%;
    margin-top: 50px;
    color: rgb(183,193,205);
    padding: 10px 20px 10px 35px;
    border-radius: 5px;
    border: none;
    background-color: rgb(128, 146, 167);
    background-image: url(../assets/search.svg);
    background-repeat: no-repeat;
    background-position: 10px;
}

    #searchField:focus{
        background-color: rgb(179, 190, 202);
        color: rgb(255, 255, 255);
    }

#result{
    margin-top: 20px;
    background-color: rgb(31, 64, 105);
    min-height: 0;
}

    #result .res {
        display: flex;
        padding: 10px 30px;
        line-height: 20px;
    }

        #result .res:first-child{
            margin-top: 15px;
        }

        #result .res:last-child{
            margin-bottom: 15px;
        }

        #result .res:hover{
            background-color:rgb(56, 86, 123);
        }

        #result .res .name{
            flex: 2;
        }

        #result .res .date {
            font-size: 11px;
            flex: 2;
        }

        #result .res .delete {
            width: 40px;
            height: 40px;
            margin: -10px -30px;
            position: relative;
            background-color: rgb(121, 57, 82);
            visibility: hidden;
        }

            #result .res .delete .circle {
                width:10px;
                height: 10px;
                border-radius: 5px;
                position: absolute;
                left: 15px;
                top: 15px;
                background-color: rgb(255, 255, 255);
                font-size: 10px;
                line-height: 10px;
                color: rgb(151, 151, 151);
                text-align: center;
            }

            #result .res:hover .delete {
                visibility: visible;
            }
            